<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login Page</title>
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!--header part start here-->
	<header class="header">
		<div class="mid">
			<div class="logo">
				<a href="#"><img src="images.png" alt=""></a>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/member">GROUP MEMBER</a></li>
					<li><a href="/orgnization">AFFILIATE ORGANIZATION</a></li>
					<li><a class="active" href="/login">LOGIN</a></li>
					<li><a href="/register">REGISTERATION</a></li>
					<li><a href="/about">ABOUT</a></li>
				</ul>
			</nav>
			<div class="icon">
				<a href="#"><i class="fa fa-bars"></i></a>
			</div>
		</div>
	</header>
<!--header part end here-->

	<!--login part start here-->
		<div class="login">
			<div class="mid">
				<h2>LOGIN</h2>
				<form action="/login" method="post">
					<label for="phone">MOBILE NUMBER</label>
					<input type="text" placeholder="MOBILE NUMBER" name="userMobile" required>
					<label for="phone">PASSWORD</label>
					<input type="password" placeholder="PASSWORD" name="userPassword" required>
					<input type="submit" value="LOGIN">
					<a href="#">Forgot Passowrd?</a>
				</form>
			</div>
		</div>
<!--login part end here-->
<!--footer part start here-->
		<footer>
			<div class="mid">
				<p><span name="lgNotice">NOTICE: </span>Any blood availibilty query or any need contact 017176626487</p>
				<a href="#"> Click for blood in case of emergency and contact us on above number</a>
			</div>
		</footer>
<!--footer part end here-->
<!--footer2 part start here-->
		<div class="footer">
			<div class="mid">
				<p>&copy 2019-2020 ।।All Right Reserved Design By PANKAJ MISHRA AND SAHIBA PARVEEN</p>
			</div>
		</div>
<!--footer2 part end here-->







	
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
	
</body>
</html>