<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Memebar Page</title>
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<!--header part start here-->
	<header class="header">
		<div class="mid">
			<div class="logo">
				<a href="#"><img src="images.png" alt=""></a>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a class="active" href="/member">GROUP MEMBER</a></li>
					<li><a href="/orgnization">AFFLILIATE ORGANIZATION</a></li>
					<% if (cookie==null) { %>
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTERATION</a></li>
						<% } else { %>
							<li><a href="/dashboard">DASHBOARD</a></li>
							<% } %>
								<li><a href="/about">ABOUT</a></li>

				</ul>
			</nav>
			<div class="icon">
				<a href="#"><i class="fa fa-bars"></i></a>
			</div>
		</div>
	</header>
	<!--header part end here-->


	<!--membar part start here-->
	<div class="member">
		<div class="mid">
			<h1>MEMBER OF THE ORGANIZATION</h1>
			<div class="president">
				<div class="pres">
					<img src="s.png" alt="">
					<h4>SAHIBA PARVEEN</h4>
					<p>PRESIDENT</p>
					<span>BLOOD GROUP: O+</span>
					<span>PHONE NUMBER: 012373748</span>
					<div class="links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
				<div class="pres">
					<img src="I0.png" alt="">
					<h4>PANKAJ MISHRA</h4>
					<p>PRESIDENT</p>
					<span>BLOOD GROUP: A+</span>
					<span>PHONE NUMBER: 012373748</span>
					<div class="links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
				<div class="member1">
					<div class="mem1">
						<img src="I5.jpg" alt="">
						<h4>AMISHA SINGH</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: O-</span>
						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I1.jpg" alt="">
						<h4>MANOJ JAISWAL</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: A-</span>
						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I3.jpg" alt="">
						<h4>ANTARIX KHANTWAL</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: B-</span>
						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I5.jpg" alt="">
						<h4>PARUL SHARMA</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: B+</span>

						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I5.jpg" alt="">
						<h4>SALONI MITTAL</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: AB+</span>

						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I1.jpg" alt="">
						<h4>ANURAG SHARMA</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: AB+</span>

						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I5.jpg" alt="">
						<h4>SHIVANI MISHRA</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP: O-</span>

						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="mem1">
						<img src="I1.jpg" alt="">
						<h4>NIKHIL MESSY</h4>
						<p>GROUP MEMBER</p>
						<span>BLOOD GROUP AB-</span>

						<div class="links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--membar part end here-->


	<!--footer part start here-->
	<footer>
		<div class="mid">
			<p><span>NOTICE: </span>Any blood availibilty query or any need contact 017176626487</p>
			<a href="#">
				Click for blood in case of emergency and contact us on above number</a>
		</div>
	</footer>
	<!--footer part end here-->
	<!--footer2 part start here-->
	<div class="footer">
		<div class="mid">
			<p>&copy 2019-2020 ।।All Right Reserved Design By PANKAJ MISHRA AND SAHIBA PARVEEN</p>
		</div>
	</div>
	<!--footer2 part end here-->



	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="index.js"></script>

</body>

</html>