<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Organization Page</title>
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<!--header part start here-->
	<header class="header">
		<div class="mid">
			<div class="logo">
				<a href="#"><img src="images.png" alt=""></a>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/member">GROUP MEMBER</a></li>
					<li><a class="active" href="/orgnization">AFFILIATE ORGANIZATION</a></li>
					<% if (cookie==null) { %>
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTERATION</a></li>
						<% } else { %>
							<li><a href="/dashboard">DASHBOARD</a></li>
							<% } %>
								<li><a href="/about">ABOUT</a></li>
				</ul>
			</nav>
			<div class="icon">
				<a href="#"><i class="fa fa-bars"></i></a>
			</div>
		</div>
	</header>
	<!--header part end here-->

	<!--organized part start here-->
	<div class="org">
		<h2>Associate organizations:</h2>
		<div class="mid">
			<a href="https://www.aiimsexams.ac.in/">
				<div class="org1">
					<h3>AIIMS HOSPITAL</h3>
					<p>DELHI, SOUTHEX</p>
					<span>0173847657</span>
				</div>
			</a>

			<a href="https://www.khushiyan.org/">
				<div class="org1">
					<h3>KHUSHIYAA ASSOC.</h3>
					<p>MUMBAI, GORE GAU</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://www.reliancefoundation.org/">
				<div class="org1">
					<h3>RELIANCE FOUND.</h3>
					<p>DELHI, GURGAUN</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://cityhospitalonline.com/">
				<div class="org1">
					<h3>CITY HOSPITAL</h3>
					<p>MUMBAI</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://alfalahmedical.org/">
				<div class="org1">
					<h3>ALFLA UNIVERSITY</h3>
					<p>DELHI, ROHINI</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="http://www.ipu.ac.in/">
				<div class="org1">
					<h3>IPU UNIVERSITY</h3>
					<p>DELHI, DWARKA</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://inrdeals.com/service-center/oneplus-mobile-phones/punjab">
				<div class="org1">
					<h3>1+ service center</h3>
					<p>PUNJAB,MOHALI</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="http://www.du.ac.in/index.php?page=Delhi-University-Women-Association-DUWA">
				<div class="org1">
					<h3>DU WOMEN ASSOC.</h3>
					<p>GUJRAT, SURAT</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://www.aap.com.au/">
				<div class="org1">
					<h3>AAP ASSOC. press</h3>
					<p>DELHI, UTTAM NAGAR</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://collegedunia.com/university/25383-university-of-hyderabad-uoh-hyderabad">
				<div class="org1">
					<h3>ENG. COLLEGE</h3>
					<p>HYDRABAD, TELANGANA</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://www.justdial.com/Delhi/City-Hospital-Karol-Bagh/011PXX11-XX11-170127200201-A1H9_BZDET">
				<div class="org1">
					<h3>CITY HOSPITAL</h3>
					<p>Delhi, Karol bagh</p>
					<span>0173847657</span>
				</div>
			</a>
			<a href="https://www.asha.org/">
				<div class="org1">
					<h3>ASHA ASSOCIATE</h3>
					<p>HIMACHAL PARDESH</p>
					<span>0173847657</span>
				</div>
			</a>
		</div>
	</div>


	<!--organized part end here-->
	<!--footer part start here-->
	<footer>
		<div class="mid">
			<p><span>NOTICE: </span> Any blood availibilty query or any need contact 017176626487</p>
			<a href="#"> Click for blood in case of emergency and contact us on above number</a>
		</div>
	</footer>
	<!--footer part end here-->
	<!--footer2 part start here-->
	<div class="footer">
		<div class="mid">
			<p>&copy 2019-2020 ।।All Right Reserved Design By PANKAJ MISHRA AND SAHIBA PARVEEN</p>
		</div>
	</div>
	<!--footer2 part end here-->








	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

</body>

</html>