<!DOCTYPE html>
<html>

<head>
    <title>Blood Updation</title>
</head>

<body>
    <center>
        <h1>You Have Successfully Reserved Your Blood! &#x2705;</h1>
    </center>
    <center>
        <h3>Check Your Mail For all Detailes
            <a href="/">Back</a>
        </h3>
    </center>
</body>

</html>